# AdvantShop storefront / API
ADVANTSHOP_BASE_URL=https://shop.synonym-jewelry.ru
ADVANTSHOP_SERVER_API_KEY=your_server_api_key

# Admin CSV 2.0 import (рабочий путь для остатков/цен)
ADVANTSHOP_ADMIN_URL=https://my.advantshop.net/437286-kfbw
ADVANTSHOP_ADMIN_EMAIL=import@synonym-jewelry.ru
ADVANTSHOP_ADMIN_PASSWORD=secret
# SYNC_UPLOAD_MODE=admin
# SYNC_ADMIN_ONLY_UPDATE=true
# SYNC_POST_ENABLED=true

# FTP (1С)
FTP_HOST=95.79.55.253
FTP_USER=sinonim
FTP_PASSWORD=secret
FTP_REMOTE_PATH=/stocks.csv
FTP_PORT=2131
FTP_SECURE=false

# SYNC_OUT_FORMAT=csv2
# SYNC_OUT_ENCODING=utf8
# SYNC_MAX_ROWS=10
# SYNC_ABORT_ON_CREATE=true
